# Python
__pycache__/
*.py[cod]
*.so
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/
.venv/

# Poetry
poetry.toml

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfvars
!*.tfvars.example

# Environment and operating system files
.env
.env.*
!.env.example
.DS_Store
Thumbs.db

# Editors
.idea/
.vscode/
